<article class="inner-page">
  <a class="back" routerLink="/">&larr; Interchouette</a>
  <h1>{{ copy.accountTitle }}</h1>
  @if (session.profile(); as profile) {
    <p>{{ profile.name }}</p>
    <p>{{ copy.accountStub }}</p>
  } @else {
    <p>{{ copy.accountStub }}</p>
    <p>
      @if (gisBounceHref; as bounceHref) {
        <a class="account-signin" [href]="bounceHref">{{ copy.accountSignIn }}</a>
      } @else {
        <button type="button" class="account-signin" (click)="onSignIn()">
          {{ copy.accountSignIn }}
        </button>
      }
    </p>
  }
</article>
<app-site-footer />
