<div class="card animated fadeIn">
  <div class="avatar">
    <img
      class="center animated rollIn"
      src="/img/avatar-244.webp"
      srcset="
        /img/avatar-1x.webp  200w,
        /img/avatar-244.webp 244w,
        /img/avatar-340.webp 340w,
        /img/avatar-2x.webp  379w
      "
      sizes="(max-width: 727px) 30vw, (max-width: 1499px) 22vw, 200px"
      alt="ITC"
      width="379"
      height="353"
      decoding="async"
      fetchpriority="high"
      [class.avatar--chat]="chat.ready()"
      [attr.tabindex]="chat.ready() ? 0 : null"
      (click)="openChat()"
      (keydown.enter)="openChat()"
      (keydown.space)="$event.preventDefault(); openChat()"
    />
  </div>
  <hr />
  <div class="name">Gregory Roussac</div>
  <p class="subtitle">Rust - Wasm Freelance Developer</p>
  <p
    class="location"
    [attr.title]="copied() ? 'Email copied' : email"
    (click)="onContactClick($event)"
  >
    <a
      id="contact"
      class="icons"
      [attr.href]="chat.ready() ? null : mailHref"
      [attr.role]="chat.ready() ? 'button' : null"
      aria-label="Interchouette - ITC"
    >
      <span class="location__cluster" [class.location__cluster--mail-end]="chatEnabled">
        @if (chat.ready()) {
          <img
            class="location__point"
            src="/img/hand-right2.png"
            width="28"
            height="23"
            alt=""
            decoding="async"
            aria-hidden="true"
          />
          <i class="fa fa-comments" aria-hidden="true" data-chat></i>
        }
        @if (!chatEnabled) {
          <i class="fa fa-envelope-o" aria-hidden="true" data-mail></i>
        }
        <span class="location__label">Interchouette - ITC</span>
        @if (chatEnabled) {
          <i class="fa fa-envelope-o" aria-hidden="true" data-mail></i>
        }
      </span>
    </a>
  </p>
  <p class="icons animated pulse">
    <a routerLink="/CV" title="CV - Gregory Roussac" aria-label="CV - Gregory Roussac">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-file-pdf-o fa-stack-1x"></i>
      </span>
    </a>
    <a
      href="https://github.com/Interchouette-ITC"
      target="_blank"
      rel="noopener noreferrer"
      title="Github - Interchouette ITC"
      aria-label="Github - Interchouette ITC"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x"></i>
      </span>
    </a>
    <a
      href="https://www.linkedin.com/in/gregoryroussac/"
      target="_blank"
      rel="noopener noreferrer"
      title="Linkedin - Gregory Roussac"
      aria-label="Linkedin - Gregory Roussac"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x"></i>
      </span>
    </a>
    <a
      id="whatsapp"
      [href]="whatsappHref"
      target="_blank"
      rel="noopener noreferrer"
      title="Whatsapp - Interchouette"
      aria-label="Whatsapp - Interchouette"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-whatsapp fa-stack-1x"></i>
      </span>
    </a>
    <a
      href="https://signal.me/#u/interchouette.42"
      target="_blank"
      rel="noopener noreferrer"
      title="Signal - interchouette.42"
      aria-label="Signal - interchouette.42"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-signal-messenger fa-stack-1x"></i>
      </span>
    </a>
    <a
      href="https://join.slack.com/t/interchouette/shared_invite/zt-2urug9dmr-PYzageTbj8bxD5c3n39QuA"
      target="_blank"
      rel="noopener noreferrer"
      title="Slack - Interchouette"
      aria-label="Slack - Interchouette"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-slack fa-stack-1x"></i>
      </span>
    </a>
    <a
      href="https://twitter.com/interchouette"
      target="_blank"
      rel="noopener noreferrer"
      title="Twitter - Interchouette"
      aria-label="Twitter - Interchouette"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
    </a>
    <a
      href="https://www.amazon.fr/hz/wishlist/ls/3OZTQ604Q7N29?ref_=wl_share"
      target="_blank"
      rel="noopener noreferrer"
      title="Amazon - Gregory Roussac"
      aria-label="Amazon - Gregory Roussac"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-amazon fa-stack-1x"></i>
      </span>
    </a>
  </p>
</div>
<app-site-footer />
